<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hcis.hcrp.report.report.mapper.HcrpReportChapterMapper" >
  <resultMap id="BaseResultMap" type="com.hcis.hcrp.report.report.entity.HcrpReportChapter" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="CHAPTER_NAME" property="chapterName" jdbcType="VARCHAR" />
    <result column="REPORT_ID" property="reportId" jdbcType="VARCHAR" />
    <result column="CHAPTER_TYPE" property="chapterType" jdbcType="INTEGER" />
    <result column="CREATOR" property="creator" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="UPDATED_BY" property="updatedby" jdbcType="VARCHAR" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="IS_DELETED" property="isDeleted" jdbcType="VARCHAR" />
    <result column="VERSION" property="version" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, CHAPTER_NAME, REPORT_ID,CHAPTER_TYPE, CREATOR, CREATE_TIME, UPDATED_BY, UPDATE_TIME, IS_DELETED,
    VERSION
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from hcrp_report_chapter
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from hcrp_report_chapter
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.hcis.hcrp.report.report.entity.HcrpReportChapter" >
    insert into hcrp_report_chapter (ID, CHAPTER_NAME, REPORT_ID,CHAPTER_TYPE, CREATOR, CREATE_TIME, UPDATED_BY,
      UPDATE_TIME, IS_DELETED, VERSION
      )
    values (#{id,jdbcType=VARCHAR}, #{chapterName,jdbcType=VARCHAR}, #{reportId,jdbcType=VARCHAR}, #{chapterType,jdbcType=INTEGER},
      #{creator,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updatedby,jdbcType=VARCHAR},
      #{updateTime,jdbcType=TIMESTAMP}, #{isDeleted,jdbcType=VARCHAR}, #{version,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.hcis.hcrp.report.report.entity.HcrpReportChapter" >
    insert into hcrp_report_chapter
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="chapterName != null" >
        CHAPTER_NAME,
      </if>
      <if test="reportId != null" >
        REPORT_ID,
      </if>
      <if test="creator != null" >
        CREATOR,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="updateby != null" >
        UPDATED_BY,
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME,
      </if>
      <if test="isDeleted != null" >
        IS_DELETED,
      </if>
      <if test="version != null" >
        VERSION,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="chapterName != null" >
        #{chapterName,jdbcType=VARCHAR},
      </if>
      <if test="reportId != null" >
        #{reportId,jdbcType=VARCHAR},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateby != null" >
        #{updateby,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDeleted != null" >
        #{isDeleted,jdbcType=VARCHAR},
      </if>
      <if test="version != null" >
        #{version,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hcis.hcrp.report.report.entity.HcrpReportChapter" >
    update hcrp_report_chapter
    <set >
      <if test="chapterName != null" >
        CHAPTER_NAME = #{chapterName,jdbcType=VARCHAR},
      </if>
      <if test="reportId != null" >
        REPORT_ID = #{reportId,jdbcType=VARCHAR},
      </if>
      <if test="creator != null" >
        CREATOR = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateby != null" >
        UPDATED_BY = #{updateby,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDeleted != null" >
        IS_DELETED = #{isDeleted,jdbcType=VARCHAR},
      </if>
      <if test="version != null" >
        VERSION = #{version,jdbcType=BIGINT},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hcis.hcrp.report.report.entity.HcrpReportChapter" >
    update hcrp_report_chapter
    set CHAPTER_NAME = #{chapterName,jdbcType=VARCHAR},
      REPORT_ID = #{reportId,jdbcType=VARCHAR},
      CREATOR = #{creator,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      UPDATED_BY = #{updateby,jdbcType=VARCHAR},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      IS_DELETED = #{isDeleted,jdbcType=VARCHAR},
      VERSION = #{version,jdbcType=BIGINT}
    where ID = #{id,jdbcType=VARCHAR}
  </update>

  <select id="listByReportId" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
        <include refid="Base_Column_List"/>
    from
    hcrp_report_chapter
    where
    REPORT_ID = #{_reportId, jdbcType=VARCHAR}
    and IS_DELETED = 'N'
    and CHAPTER_TYPE = 0
  </select>
</mapper>