<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hcis.hcrp.report.report.mapper.ReportPatentMapper" >
  <resultMap id="BaseResultMap" type="com.hcis.hcrp.report.report.entity.ReportPatent" >

    <result column="REPORT_ID" property="reportId" jdbcType="VARCHAR" />
    <result column="PATENT_ID" property="patentId" jdbcType="VARCHAR" />
    <result column="CHAPTER_ID" property="chapterId" jdbcType="VARCHAR" />

  </resultMap>

  <sql id="Base_Column_List" >
   REPORT_ID,PATENT_ID,CHAPTER_ID
  </sql>

  <insert id="insert" parameterType="com.hcis.hcrp.report.report.entity.ReportPatent" >
    insert into hcrp_report_patent ( REPORT_ID,PATENT_ID,CHAPTER_ID
      )
    values (#{reportId,jdbcType=VARCHAR},#{patentId,jdbcType=VARCHAR},#{chapterId,jdbcType=VARCHAR}
      )
  </insert>


</mapper>